data_for_credit_scoring_model/
.venv/
%USERPROFILE%/
secret_key.txt/
notes.txt/
secret_key.txt/
.env/
best_models/
artifacts_of_exp_250316/
clients_test.cav/
clients_train.csv/
clients_train_log.csv/
clients_test_log.csv/
db.sqlite3/