{% extends 'main.html' %}
{% block title %}Prêt à dépenser | Crédit Scoring{% endblock %}
{% load static %}
{% block content %}
<br><br>
<div class='container homepage_main_div'>
    <div class='row'>
        <div class='col-md-6 col-sm-12 mb-3'>
            <br><br>
            <div class="container w-100" id="picture_main_div">
                <div class="form-group mt-3">
                    <h3 for="customer_dropdown">Choisir un client</h3>
                    <select id="customer_dropdown" name="customer" class="form-control" onchange="showCustomerDetails()">
                        {% for customer in all_customers %}
                            <option value="{{ customer.SK_ID_CURR }}"
                                    data-birth="{{ customer.DAYS_BIRTH }}"
                                    data-gender="{{ customer.CODE_GENDER_M }}"
                                    data-employed="{{ customer.DAYS_EMPLOYED }}"
                                    data-credit="{{ customer.AMT_CREDIT }}"
                                    data-income="{{ customer.AMT_INCOME_TOTAL }}">
                                Identifiant: {{ customer.SK_ID_CURR }}
                            </option>
                        {% endfor %}
                    </select>
                    
                    <!-- détails client -->
                    <ul id="customer_details" style="margin-top: 15px; list-style-type: disc; padding-left: 20px;">
                        <li><h5>Âge : <span id="detail_birth"></span> (en jours au moment du prêt)</5></li>
                        <li><h5>Sexe : <span id="detail_gender"></span></5></li>
                        <li><h5>Employé depuis : <span id="detail_employed"></span> jours</5></li>
                        <li><h5>Montant du crédit : <span id="detail_credit"></span> €</5></li>
                        <li><h5>Revenus annuels: <span id="detail_income"></span> €</5></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-md-6 col-sm-12 mb-3'>
            <br><br>
            <div class="container text-center mt-4">
                <h3>Choisir un modèle</h3>
                <form method="POST" action="{% url 'predict' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- sélection du modèle -->
                    <div class="form-group mt-3">
                        <select name="model" class="form-control w-50 mx-auto" required>
                            <option value="" disabled selected>-- Sélectionnez un modèle --</option>
                            <option value="LogisticRegression">LogisticRegression</option>
                        </select>
                    </div>

                     <!-- C=champ caché pour l'id du client -->
                     <input type="hidden" id="client_id" name="client_id" value="">

                    <!-- bouton de soumission -->
                    <button type="submit" class="btn btn-outline-info mt-4">Obtenir une prédiction</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
