{% extends 'main.html' %}
{% block title %}Prêt à dépenser | Crédit Scoring{% endblock %}
{% load static %}
{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="w-100 text-center mb-4">
        <h4 for="customer_dropdown">Choisir un client</h4>
        <select id="customer_dropdown" name="customer" class="form-control" onchange="showCustomerDetails()">
            {% for customer in all_customers %}
                <option value="{{ customer.SK_ID_CURR }}"
                        data-birth="{{ customer.DAYS_BIRTH }}"
                        data-gender="{{ customer.CODE_GENDER_M }}"
                        data-employed="{{ customer.DAYS_EMPLOYED }}"
                        data-credit="{{ customer.AMT_CREDIT }}"
                        data-income="{{ customer.AMT_INCOME_TOTAL }}">
                    Identifiant: {{ customer.SK_ID_CURR }}
                </option>
            {% endfor %}
        </select>
        <ul id="customer_details" class="text-start mt-3 list-unstyled">
            <li><strong class="text-warning">Âge :</strong> <span id="detail_birth" class="text-light"></span> (en jours au moment du prêt)</li>
            <li><strong class="text-warning">Sexe :</strong> <span id="detail_gender" class="text-light"></span></li>
            <li><strong class="text-warning">Employé depuis :</strong> <span id="detail_employed" class="text-light"></span> jours</li>
            <li><strong class="text-warning">Montant du crédit :</strong> <span id="detail_credit" class="text-light"></span> €</li>
            <li><strong class="text-warning">Revenus annuels :</strong> <span id="detail_income" class="text-light"></span> €</li>
        </ul>
    </div>
    <div class="w-100 text-center">
        <h4>Choisir un modèle</h4>
        <form method="POST" action="{% url 'predict' %}" class="d-flex flex-column align-items-center" enctype="multipart/form-data">
            {% csrf_token %}
            <select name="model" class="form-control w-50 my-3" required>
                <option value="" disabled selected>-- Sélectionnez un modèle --</option>
                <option value="LogisticRegression">LogisticRegression</option>
            </select>
            <input type="hidden" id="client_id" name="client_id" value="">
            <button type="submit" class="btn btn-outline-success">Obtenir une prédiction</button>
        </form>
    </div>
</div>
{% endblock content %}




{% comment %} {% extends 'main.html' %}
{% block title %}Prêt à dépenser | Crédit Scoring{% endblock %}
{% load static %}
{% block content %}
<br><br>
<div class='container w-75 homepage_main_div'>
    <div class='row'>
        <div class='col-md-12 col-sm-12 mb-3'>
            <br><br>
            <div class="container w-100" id="picture_main_div">
                <div class="form-group mt-3">
                    <h4 for="customer_dropdown">Choisir un client</h4>
                    <select id="customer_dropdown" name="customer" class="form-control" onchange="showCustomerDetails()">
                        {% for customer in all_customers %}
                            <option value="{{ customer.SK_ID_CURR }}"
                                    data-birth="{{ customer.DAYS_BIRTH }}"
                                    data-gender="{{ customer.CODE_GENDER_M }}"
                                    data-employed="{{ customer.DAYS_EMPLOYED }}"
                                    data-credit="{{ customer.AMT_CREDIT }}"
                                    data-income="{{ customer.AMT_INCOME_TOTAL }}">
                                Identifiant: {{ customer.SK_ID_CURR }}
                            </option>
                        {% endfor %}
                    </select>
                    
                    <!-- détails client -->
                    <ul id="customer_details" style="margin-top: 15px; list-style-type: disc; padding-left: 20px;">
                        <li><h6 class='text-warning'>Âge : </6><span id="detail_birth" class='text-light'></span> (en jours au moment du prêt)</li>
                        <li><h6 class='text-warning'>Sexe : </6><span id="detail_gender" class='text-light'></span></li>
                        <li><h6 class='text-warning'>Employé depuis : </6><span id="detail_employed" class='text-light'></span> jours</li>
                        <li><h6 class='text-warning'>Montant du crédit : </6><span id="detail_credit" class='text-light'></span> €</li>
                        <li><h6 class='text-warning'>Revenus annuels: </6><span id="detail_income" class='text-light'></span> €</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-md-12 col-sm-12 mb-3'>
            <div class="container mt-4">
                <h4>Choisir un modèle</h4>
                <form method="POST" action="{% url 'predict' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- sélection du modèle -->
                    <div class="form-group mt-3">
                        <select name="model" class="form-control mx-auto" required>
                            <option value="" disabled selected>-- Sélectionnez un modèle --</option>
                            <option value="LogisticRegression">LogisticRegression</option>
                        </select>
                    </div>

                     <!-- C=champ caché pour l'id du client -->
                     <input type="hidden" id="client_id" name="client_id" value="">

                    <!-- bouton de soumission -->
                    <button type="submit" class="btn btn-outline-success mt-4">Obtenir une prédiction</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% endcomment %}
