{% extends 'main.html' %}
{% block title %}Contact | Frederic Ferreira{% endblock %}
{% block content %}
<div class="container homepage_main_div">
    <h1 class="text-center text-light" id="main_title"><b>Contact me</b></h1>
    <form method="POST" action="." id="contact_style" class="card rounded-3 p-3">
        {% csrf_token %}
        {{form.from_email}}
        <br>
        {{form.subject}}
        <br>
        {{form.message}}
        <br>
        <button type="submit" class="btn btn-outline-success btn-sm w-100">Send</button>
    </form>
</div>
{% endblock content %}