{% extends 'main.html' %}
{% block title %}Supprimer son compte | Prêt à dépenser{% endblock %}
{% block content %}
<div class="container card w-75 text-center" id="delete_account_page">
    <h2>Etes-vous sûr de vouloir supprimer votre compte?</h2>
    <p>Toutes vos données seront supprimées de la base de données.</p>
    <form method="POST" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-sm">Oui, je le veux.</button>
        <a href="{% url 'user-profile' request.user.pk %}" class="btn btn-outline-light btn-sm">Non, je change d'avis</a>
    </form>
</div>
{% endblock content %}
