{% extends 'main.html' %}
{% block title %}Prêt à dépenser | Crédit Scoring{% endblock %}
{% load static %}
{% block content %}
<div class="container homepage_main_div">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12 mb-3 text-bg-dark text-center">
            <br><br><br>
            <img src="{% static '/images/banner_homepage.png' %}" class="img-fluid rounded mx-auto d-block custom-image-size">
            <br>
            <h1>Crédit Scoring API</h1>
        </div>
    </div>
</div>
{% endblock content %}

