{% extends 'main.html' %}
{% block title %}Résultats des Prédictions{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Résultats</h1>
    {% if error_message %}
        <p class="alert alert-danger text-center">
            {{ error_message }}
        </p>
    {% else %}
        <div class="container mt-4">
            <h3>Détails de la prédiction :</h3>
            <h5><strong>Identifiant (SK_ID_CURR) :</strong> {{ SK_ID_CURR }}</h5>
            <h5><strong>Prédiction :</strong> {{ predictions }}</h5>
            <h5>
                <strong>Statut du prêt :</strong>
                <span class="{{ status_class }}">
                    {{ status }}
                </span>
            </h5>
            
            <h5><strong>Probabilité de défaut :</strong> {{ probability }}</h5>
        </div>
    {% endif %}
    <div class="text-center mt-4">
        <a href="{% url 'home' %}" class="btn btn-outline-success">Retourner à la page d'accueil</a>
    </div>
</div>
{% endblock %}

