{% extends 'main.html' %}
{% block title %}Mise à jour du profil | Prêt à dépenser{% endblock %}
{% block content %}
<br></br>
<div class="card w-50" id="update_profile-container">
    <div class="card-body">
        <form method="POST" class="">
            {% csrf_token %}
            <br>
            <h6>Nouveau nom d'utilisateur:</h6>
            {{form.username}}
            <br>
            <h6>Nouvelle adresse email:</h6>
            {{form.email}}
            <br/>
            <center><button type="submit" class="btn btn-outline-info btn-sm w-100">Soumettre</button></center>
        </form>
    </div>
</div>
{% endblock content %}
